/__pycache__/
/.ipynb_checkpoints/
/.flaskenv
/application/export.py
/connection/
/connection/*
/Proxy*/*
/bin/*
/application/Config.cfg
.flaskenv
/application/db.py
/application/routes.py
/application/static/js/urls.js
