<!DOCTYPE html>
<meta charset="utf-8">
<style>
.line {
  fill: none;
  stroke-width: 2px;
}

.green {
  stroke: green;
}
.white{
  fill:white;
  
}

.blue {
  stroke: blue;
}

.text {
  font-size: 16px;
  text-anchor: middle;
  color:lightblue;
  fill:lightblue;
  stroke: lightblue;
}

.lightblue{
  fill:lightblue;
  stroke: lightblue;
  color: lightblue;
}
.pink{
  fill:pink;
}
.naturalgas-text {
  fill: blue;
}

.crude-text {
  fill: green;
}
</style>

<body>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="/static/js/urls.js"></script>
<script src="/static/js/lib/oilprices/oilprices.js"></script>
<script type="text/javascript" src="/static/js/lib/etc/pym.v1.js"></script>
<script>
  var pymChild = new pym.Child();
  //pym.Child({ renderCallback: renderWorld(covidall) });
</script>
</body>
</html>