<html>
    <head><title>Dedication Bar</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <link rel="stylesheet" type="text/css" href="/static/css/scroll.css">
        <script type="text/javascript" src="/static/js/lib/etc/pym.v1.js"></script>

    </head>
    <body height="100%">
        <div class="contatiner" style="height:900px;">
            <div class="row">
            <img src="/static/images/flickering_candle.gif" width="150px" height="150px">
            </div>
            <div class="row" style="margin: 0;padding-left:10px;width:100%">
            <marquee behavior="scroll" direction="up" class="myscroll">We dedicate 'Our Covid helper App' <br> to all the precious <br>
                lives we lost in COVID.<br>
            </marquee>
            </div>
         </div>
     </div>
    </body>
</html>
