body {
  padding: 0;
  margin: 0;
}
#map,
body,
html {
  height: 900px;
  background-color: black;
}
h3{
  color:lightseagreen;
}

h5{
  color:darkorange;
}
.activecases{
  padding: 10px;
  color:lightblue;
  font-size: small;

}

.losses{
  padding: 10px;
  color: red;
  font-size: small;
}


.recovered{
  padding: 10px;
  color: lightgreen;
  font-size: small;
}

.title {
  fill: teal;
  font-weight: bold;
}
.leaflet-bottom.leaflet-left {
  width: 100%;
}

.leaflet-control-container .leaflet-timeline-controls {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  margin-bottom: 15px;
}
.custom .leaflet-popup-tip,
.custom .leaflet-popup-content-wrapper {
    background: #fff;
    color: #000;
}