<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #000000;">
    <a class="navbar-brand" href="{{ url_for('index') }}">Global View</a>

 <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="nav navbar-nav">
       <li class="nav-item active"><a class="nav-link" id="mainnav1" href="{{ url_for('index') }}">Home</a></li>
       <li class="nav-item"><a class="nav-link" id="mainnav2" href="/regionalmap/ww">Regional Map</a></li>
       <li class="nav-item"><a class="nav-link" id="mainnav3" href="/usamap">USA Map</a></li>
       <li class="nav-item"><a class="nav-link" id="mainnav4" href="/forexmap">Forex Effects</a></li>
       <li class="nav-item"><a class="nav-link" id="mainnav5" href="index.html">COVID 4</a></li>
       <li class="nav-item"><a class="nav-link" id="mainnav6" href="index.html">CDC Guidelines</a></li>
     </ul>
 </div>
 </div>
</nav>