<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #000000;">
    <a class="navbar-brand" href="{{ url_for('index') }}">Global View</a>

 <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="nav navbar-nav">
       <li class="nav-item active"><a class="nav-link" id="mainnav1" href="/route/worldmap">Home</a></li>
       <li class="nav-item"><a class="nav-link" id="mainnav2" href="/sroute/regionalmap/ww">Regional Map</a></li>
       <li class="nav-item"><a class="nav-link" id="mainnav3" href="/route/usamap">USA Map</a></li>
       <li class="nav-item"><a class="nav-link" id="mainnav3" href="/route/gamap">Georgia Map</a></li>
       <li class="nav-item"><a class="nav-link" id="mainnav4" href="/route/forexmap">Forex Effects</a></li>
       <li class="nav-item"><a class="nav-link" id="mainnav5" href="/">Oil Prices Effects</a></li>
       <li class="nav-item"><a class="nav-link" id="mainnav6" href="/">CDC Guidelines</a></li>
     </ul>
 </div>
 </div>
</nav>