<div id="mySidenav" class="sidenav">
    <a id="sidebutton" href="/index.html" style="top:20px;">Home</a>
    <a id="sidebutton" href="/regionalmap/ww" style="top:80px;">World</a></li>
    <a id="sidebutton" href="/regionalmap/us" style="top:140px;">USA</a></li>
    <a id="sidebutton" href="/regionalmap/na" style="top:200px;">North America</a></li>
    <a id="sidebutton" href="/regionalmap/sa" style="top:260px;">SouthAmerica</a></li>
    <a id="sidebutton" href="/regionalmap/eu" style="top:320px;">Europe</a></li>
    <a id="sidebutton" href="/regionalmap/in" style="top:380px;">India</a></li>
    <a id="sidebutton" href="/regionalmap/af" style="top:440px;">Africa</a></li>
  </div>